@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7f5f0;
  color: #1c2321;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #3e625933;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #e4e0d6;
  border-radius: 999px;
}
